/* Refactor slotted details summary */
::slotted([slot="summary"]) {
    --foo: bar;
}

::slotted([slot="summary"]) {
    --foo: bar;
}

::slotted([slot="summary"]:first-child) {
    --foo: bar;
}

/* TODOs */
/* TODO: Migration issue: Move rule targeting the 'toggle' part to vaadin-accordion-heading.css */
[part="toggle"] {
    --foo: bar;
}

/* TODO: Migration issue: Move rules targeting the 'content' part to vaadin-accordion-heading.css */

[part="content"] {
    --foo: bar;
}

[part="ignore-me"] {
    --foo: bar;
}
