/* Simple selector */
[part="avatar"] {
    --foo: bar;
}

/* Compound selector */
[part="avatar"]:not(:first-child) {
    --foo: bar;
}

/* Compound selector with tag name */
vaadin-avatar[part="avatar"] {
    --foo: bar;
}

/* Compound selector with part selector - unsupported */
[part="avatar"]::part(abbr) {
    --foo: bar;
}

/* Complex selector */
:host.foo [part='avatar'] {
    --foo: bar;
}

/* Complex selector, not last in sequence - unsupported */
[part="avatar"]:not(:first-child) .foo {
    --foo: bar;
}

/* Wrapped in pseudo */
*:not([part='avatar']) {
    --foo: bar;
}

/* Selector list */
:host.foo [part='avatar'], :host.bar [part='avatar']:not(:first-child) {
    --foo: bar;
}
