/* Simple selector */
[part="avatar"] {
    --foo: bar;
}

vaadin-avatar {
    --foo: bar;
}

/* Compound selector */
[part="avatar"]:not(:first-child) {
    --foo: bar;
}

vaadin-avatar:not(:first-child) {
    --foo: bar;
}

[part="avatar"]::before {
    --foo: bar;
}

[part="avatar"]::after {
    --foo: bar;
}

/* Compound selector with tag name */
vaadin-avatar[part="avatar"] {
    --foo: bar;
}

/* Compound selector with part selector - unsupported */
[part="avatar"]::part(abbr) {
    --foo: bar;
}

/* Complex selector */
:host.foo [part='avatar'] {
    --foo: bar;
}

:host.foo vaadin-avatar {
    --foo: bar;
}

/* Complex selector, not last in sequence - unsupported */
[part="avatar"]:not(:first-child) .foo {
    --foo: bar;
}

/* Wrapped in pseudo */
*:not([part='avatar']) {
    --foo: bar;
}

/* Selector list */
:host.foo vaadin-avatar, :host.bar [part='avatar']:not(:first-child) {
    --foo: bar;
}

/* List box */
vaadin-avatar-group-list-box {
    --foo: bar;
}

:host.foo vaadin-avatar-group-list-box {
    --foo: bar;
}

:host.foo vaadin-avatar-group-list-box:not(:first-child) {
    --foo: bar;
}
