/* Refactor date part selector operator */
[part~="date"] {
    --foo: bar;
}

[part="ignore-me"] {
    --foo: bar;
}

/* Refactor state attribute */
[part~="disabled"] {
    --foo: bar;
}

[part~="focused"] {
    --foo: bar;
}

[part~="selected"] {
    --foo: bar;
}

[part~="today"] {
    --foo: bar;
}

[part~='date'][part~="focused"] {
    --foo: bar;
}

[part~='date']:not(:empty) {
    --foo: bar;
}

:host [part~='date']:not(:empty) {
    --foo: bar;
}

[ignore-me] {
    --foo: bar;
}
